{% extends 'navbar.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">The Store</h3>
            <p>Started in 2014, the QA store has been the go-to place to buy your tech products from. Anything from phones to laptops, the TVs we sell!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-5 mb-4">The Mission</h3>
            <p>The mission of the store is to provide tech products to consumers with industry-leading customer service, an easy-to-use webstore, and the best prices around!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-5 mb-4">The Team</h3>
            <p>James Bryer is the architect behind the store. He acted as a full-stack developer to design, implement, test, and deploy the webstore. He was commissioned by QA.</p>
        </div>
    </div>
</div>
{% endblock %}