{% extends 'navbar.html' %}
{% block content %}
<br>
<h3>The Store</h3>
<br>
<p>Started in 2014, the QA store has been to go to place to buy your tech products from. Anythin from phones, to laptops, the TV's we sell!</p>
<br>
<h3>The Mission</h3>
<br>
<p>The mission of the store is to provide tech products to consumers with industry leading customer service, an easy to use webstore, and the best prices around!</p>
<br>
<h3>The Team</h3>
<br>
<p>James Bryer is the architect behind the store, he acted as full stack developer to design, implement, test, and deploy the webstore. He was commisioned by QA.</p>
{% endblock %}