{% extends 'navbar.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for item in products %}
            <td>{{ item.name }}</td>
            <td>£ {{ item.price }}</td>
            <td>
                <form class="update-form" method="POST">
                    <input type="hidden" name="product_id" value="{{ item.id }}">
                    <input type="number" name="quantity" value="{{ item.quantity }}">
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </td>
            <td>
                <form action="/cart/remove/{{ item.id }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ item.id }}">
                    <input type="submit" value="Remove" class="btn btn-primary">
                </form>
            </td>
        </tr>
        {% endfor %}
        </thead>

</table>
<script>

    
    // if there is an item in the form
    if (document.querySelector('.update-form')){

    const updateForms = document.querySelectorAll('.update-form');
    updateForms.forEach(form => {
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            
            const quantityInput = form.querySelector('input[name="quantity"]');
            const quantity = quantityInput.value;
            
            const productIdInput = form.querySelector('input[name="product_id"]');
            const productId = productIdInput.value;
            
            const newAction = `/cart/update/${productId}/${quantity}`;
            form.action = newAction;
            // Submit the form
            form.submit();
        });
    });
}


</script>

{% endblock %}