{% extends 'navbar.html' %}

{% block content %}
<h2>Order Summary</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table table-bordered rounded custom-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>£ {{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td id="product_total">£ {{ item.price * item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right"><b>Cart Total</b></td>
                        <td><b id="total_amount"></b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% if addresses %}
<form class="form-inline" style="padding-bottom: 10px;">
    <div class="form-group">
        <label for="category" class="mr-2">Select Address:</label>
        <select class="form-control" name="category" id="category">
            <option value="" selected disabled>Select</option>
            {% for address in addresses %}
            <option value="{{ address.house_name_num + ',' + address.street + ',' + address.town_city + ',' + address.postcode }}">{{ address.house_name_num + ' ' + address.street + ' ' + address.town_city + ' ' + address.postcode }}</option>
            {% endfor %}
        </select>
    </div>
</form>
{% endif %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="form" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.house_name_num.label(class="form-label") }}
                    {{ form.house_name_num(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.street.label(class="form-label") }}
                    {{ form.street(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.town_city.label(class="form-label") }}
                    {{ form.town_city(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.postcode.label(class="form-label") }}
                    {{ form.postcode(class="form-control") }}
                </div>
                <div class="error">
                    {% for error in form.postcode.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Next: Payment</button>
            </form>
        </div>
    </div>
</div>
<script>
        let dropDown = document.querySelector('#category');
    // if there is a dropdown
    if (dropDown) {
        // add event listener to dropdown on change
        dropDown.addEventListener('change', function() {
            let selectedValue = this.options[dropDown.selectedIndex].value;
            // fill form with details from selected address
            let houseNameNum = document.querySelector('#house_name_num');
            let street = document.querySelector('#street');
            let townCity = document.querySelector('#town_city');
            let postcode = document.querySelector('#postcode');
            // split the selected value based on the delimiter ','
            let addressDetails = selectedValue.split(',')
            houseNameNum.value = addressDetails[0];
            street.value = addressDetails[1];
            townCity.value = addressDetails[2];
            postcode.value = addressDetails[3];

        });
    }
    let total_amount = document.querySelector('#total_amount');
        let total = 0;
        let prices = document.querySelectorAll('#product_total');
        prices.forEach(price => {
            total += parseInt(price.innerText.split('£ ')[1]);
        });
        total_amount.innerText = `£ ${total}`;

</script>

{% endblock %}