{% extends 'navbar.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      
      <tr>
        <td><a href="{{ url_for('product', id=product.id) }}">{{ product.name }}</a></td>
        <td>£ {{ product.price }}</td>
        <td> {{ product.description }}</td>
        <td><img class="product-image"src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" class="img-fluid"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}